%p#notice= notice

%p
  %b User:
  = @profile.user
%p
  %b First name:
  = @profile.first_name
%p
  %b Last name:
  = @profile.last_name
%p
  %b Address1:
  = @profile.address1
%p
  %b Address2:
  = @profile.address2
%p
  %b City:
  = @profile.city
%p
  %b State:
  = @profile.state
%p
  %b Zip:
  = @profile.zip
%p
  %b Email:
  = @profile.email
%p
  %b Phone:
  = @profile.phone
%p
  %b Active:
  = @profile.active

%h2 Memberships
%p=link_to 'Edit Memberships', profile_memberships_path(@profile)
.col-md-6
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead.thead-dark
      %tr
        %th Division Name
    %tbody
      - @profile.memberships.each do |membership|
        %tr
          %td= division_pathname(membership.division)


= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
