%h1 Listing memberships for #{@profile.full_name}

.col-md-6
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead.thead-dark
      %tr
        %th Division Name
        %th Rank
        %th Role
        %th{colspan: 3} Actions
    %tbody
      - @memberships.each do |membership|
        %tr
          %td= division_pathname(membership.division)
          %td
            - if membership.rank
              #{ membership.rank.name } (#{ membership.rank.abbreviation })
            - else
              N/A
          %td= membership.role ? membership.role.name : 'N/A'
          %td= link_to 'Show', profile_membership_path(@profile, membership)
          %td= link_to 'Edit', edit_profile_membership_path(@profile, membership)
          %td= link_to 'Destroy', profile_membership_path(@profile, membership), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Membership', new_profile_membership_path(@profile)
%p= link_to 'Return to user profile', @profile
