.navbar-wagon.hidden-print
  / Logo
  = link_to '', target: '_blank', class: "navbar-wagon-brand" do
    Barfleet

  / Right Navigation
  .navbar-wagon-right
    - if user_signed_in?
      / Links when logged in
      / Avatar with dropdown menu
      .navbar-wagon-item
        .dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            My Account
          %ul.dropdown-menu.dropdown-menu-right.navbar-wagon-dropdown-menu
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-pencil
                = t(".profile", default: "Edit My Profile")
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out
                = t(".sign_out", default: "Log out")
    - else
      / Login link (when logged out)
      = link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"
